#migration {
    #migration_form {
        margin-top: 10px;
    }
    h1 {
        margin-bottom:10px;
    }
    h3 {
        margin-top:10px;
        margin-bottom:10px;
    }
    #migration_status {
        width:500px;
    }
    .migration_warning {
        margin-bottom: 5px;
    }
    #migration_config {
        position:absolute;
        right: 0px;
        top: 30px;
        width:450px;
    }
    .migration_host {
        padding: 10px;
        border: 1px solid #D0D0D0;
        background-color: #E8E8E8;
    }
    .migration_hostname {
        font-size: 1.2em;
        font-weight: bold;
    }
}
